<html>
    <head>
       <link rel="stylesheet" type="text/css" href="second.page.css">

    </head>
     <body>
 <header>
</header>
<main>
    <a class="kot" href="">создатель <a>
     <a class="kot "href="">Главное<a>  
         <a class="kot"  href="">Игры<a>  
<h1 a id="12"> ИГРЫ </h1>
<ul>
    <li>Counter-Strike: Global Offensive</li>
    <li>Lost Ark</li>
    <li>Dota 2</li>
    <li>PUBG: BATTLEGROUNDS</li>
    <li>Apex Legends</li>
    <li>ELDEN RING</li>
    </ul>
    


    
    <a class="bot" href="#12">верх<a>

    
        </main>
    <footer>
        <p >телефон:</p>
        <p >Эл.почта:</p>

    </footer>
    </body>
    </html>
